.container
  .header.fixed
    %ul.menu-list
      %li
        %a Profile
  .sixteen.columns.omega
    .content.content-list
      %a.btn.add-task#addTask
        Add Manual Task

      
      %h2
        Today
      .tree
      %ul.content-task-list
        %li.group
          .profile-marker
            =image_tag "avatar1.png"
          .item-group

            .timestamp
              %big
                7:50
              pm
            %a
              %span.caret-right
            
              For safety - reset parent styles, that can break glyph codes
            .status-section
              bea923d

        %li.group
          .profile-marker
            =image_tag "avatar2.png"
          .item-group
            .timestamp
              %big
                12:58
              pm
            %a
              %span.caret-right
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, tellus vel auctor cursus, nulla leo tincidunt quam, et varius neque ipsum eget ante
            .status-section
              agh38dj
      .item-seperator
        2 hours
        %span
        %span
        %span
      

    .content.content-list
      %h2
        Yesterday
      .tree
          
      %ul.content-task-list

        %li.group
          .profile-marker
            =image_tag "avatar3.png"
          .item-group

            .timestamp
              %big
                7:50
              pm
            %a
              %span.caret-right
              
              For safety - reset parent styles, that can break glyph codes
            .status-section
              kbn3fdd

        %li.group
          .profile-marker
            =image_tag "avatar1.png"
          .item-group
            .timestamp
              %big
                12:58
              pm
            %a
              %span.caret-right
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, tellus vel auctor cursus, nulla leo tincidunt quam, et varius neque ipsum eget ante
            .status-section
              5sk1dsk
      .item-seperator
        2 hours
        %span
        %span
        %span
      %ul.content-task-list

        %li.group
          .profile-marker
            =image_tag "avatar1.png"
          .item-group
            .timestamp
              %big
                1:00
              am
            %a
              %span.caret-right
              
              For safety - reset parent styles, that can break glyph codes
            .status-section
              bea923d

        %li.group
          .profile-marker
            =image_tag "avatar3.png"
          .item-group
            .timestamp
              %big
                1:15
              am
            %a
              %span.caret-right
              
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, tellus vel auctor cursus, nulla leo tincidunt quam, et varius neque ipsum eget ante
            .status-section
              9fpf3fm
        
      .item-seperator
        1 hour and 15 minutes
        %span
        %span
        %span

      
