.container
  .two.columns.alpha
    .fixed-sidebar
      %ul.sidemenu-list
        %li
          %a  Task List
        %li
          %a  Profile
        %li
          %a  Settings
  .fifteen.offset-by-one.columns.omega
    .content.content-list
      %a.btn.add-task#addTask
        Add Manual Task

      
      %h2
        Today
      .tree
      %ul.content-task-list
        %li.group
          .ball-marker
          .item-group

            .timestamp
              %big
                7:50
              pm
            %a
              %span.caret-right
              %span.action
                Doing 
              For safety - reset parent styles, that can break glyph codes

        %li.group
          .ball-marker
          
          .item-group
            .timestamp
              %big
                12:58
              pm
            %a
              %span.caret-right
              %span.action
                Done
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, tellus vel auctor cursus, nulla leo tincidunt quam, et varius neque ipsum eget ante
      .item-seperator
        2 hours
        %span
        %span
        %span
      

    .content.content-list
      %h2
        Yesterday
      .tree
          
      %ul.content-task-list

        %li.group
          .ball-marker
          
          .item-group

            .timestamp
              %big
                7:50
              pm
            %a
              %span.caret-right
              %span.action
                Doing 
              For safety - reset parent styles, that can break glyph codes

        %li.group
          .ball-marker
          
          .item-group
            .timestamp
              %big
                12:58
              pm
            %a
              %span.caret-right
              %span.action
                Done
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, tellus vel auctor cursus, nulla leo tincidunt quam, et varius neque ipsum eget ante
      .item-seperator
        2 hours
        %span
        %span
        %span
      %ul.content-task-list

        %li.group
          .ball-marker
          .item-group
            .timestamp
              %big
                1:00
              am
            %a
              %span.caret-right
              %span.action
                Doing 
              For safety - reset parent styles, that can break glyph codes

        %li.group
          .ball-marker
          .item-group
            .timestamp
              %big
                1:15
              am
            %a
              %span.caret-right
              %span.action
                Done
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, tellus vel auctor cursus, nulla leo tincidunt quam, et varius neque ipsum eget ante
        
      .item-seperator
        1 hour and 15 minutes
        %span
        %span
        %span

      .footer-fixed
        Total hours
